#myinfo{
  background-color: #ffffff;
}
.header .header-wrapper .header-cart .cart-wrapper li a {
    color: #15171f;
    text-transform: capitalize;
    font-weight:  normal;
    letter-spacing: 1px;
    font-size: 15px;
}